body{
background-color: #d8e7ff;
padding:0;
margin:0;
}

a{color:#282828;}

ul{
  color: white;
  font-size: 24px;
}

div{
  background-color: #282828;
  margin-top: 0;
  margin-left: 0px;
}

p{
    background-color: #d8e7ff;
}
strong{
  padding-left: 15px;
  background-color:#d8e7ff;
}

div.field{
  background-color: #d8e7ff;
  margin-top: 0;
  margin-left: 0px;
  margin-left:15px;
}

div.actions{
    background-color: #d8e7ff;
    margin-top: 0;
    margin-left:15px;
}


h1{
font-size: 2em;
line-height: 1.1em;
font-family: "Times New Roman", "Times", serif;
font-weight: normal;
background-color:#d8e7ff;
margin-top: 0px;
padding-left: 15px;
}

h2{
color:#af0000;
font-size: 1.25em;
line-height: .65em;
font-family: "Times New Roman", Times, serif;
font-weight: bold;
background-color:#e8edf4;
padding-top:15;
padding-bottom: 5;
padding-left: 15;
margin-top:5;
}

p{color:black;
  background-color:#d8e7ff;
  padding-left: 0;
  margin:0;
}


table{
  margin-left: 15px;
  margin-right: 15px;
  font-size: .75em;
}

td{text-align: center;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;}

table {
    background-color:#e8edf4;
    border: 1px solid #afafaf;
    border-collapse: collapse;
    padding-left:15px;
}

td {
    background-color:#e8edf4;
    border: 1px solid #afafaf;
    border-collapse: collapse
}

th{
  text-align: left;
  background-color:#c9c9c9;
  border: 1px solid #afafaf;
  border-collapse: collapse;
  padding-top:5;
  padding-bottom: 5;
  padding-left: 5;
}


form{
}
